
@font-face{
	font-family:"Existence";
	font-weight:normal;
	src:url(../fonts/Existence-Light.otf);
}
body html{
	height:100%;
}
#navigation{
	position:relative;
	top:5vh;
	font-family:Tahoma;
	font-size:3vh;
	text-align: right;
	padding:3vh;

}
a{
	color:white;
}
.content a:hover{
	color:white;
	text-decoration: none;
}
#navigation li{
	list-style-type: none;
	display:inline;
	padding-right:1vh;
	padding-left:1vh;
}
#navigation a{
	list-style-type: none;
	display:inline;
	padding-right:4vh;
	color:white;
}
#navigation a:hover{
	color:white;
}
#logo{
	padding:4vh;
	font-size:10vh;
	color:white;
	font-family:"Existence";
}
.header{
	background-color:rgb(238,50,51);
}
.content{
	font-family:Segoe UI;
	padding:10vh;
}
h1, h2, h3, h4, h5, h6{
	font-weight:normal;

	font-family:Segoe UI;
}
.content h1{
	font-size:15vh;
}
.content h6{
	color:black;
	font-size:4vh;
}
#get-started{
	margin-top:5vh;
	padding:2vh;
	background-color:rgb(240,50,51);
	border:1;
	color:white;
	width:28vh;
}
#get-started:hover{
	background-color:rgba(230,25,44,0.8);
	cursor:pointer;
}
#description{
	font-size:3vh;
	padding:8vh;
	position:relative;
	top:10vh;
}
#description .col-md-4{
	text-align:center;
}
.footer{
	text-align:center;
	font-size:2vh;
}
.footer a{
	color:black;
}
.content .row{
	margin-top:5vh;
}
#index-row .row{
	margin-top:10vh;
}
#description .img-responsive{
	padding:5vh;
	width:25vh;
	margin:auto;
	border-radius:70px;
	background-color:rgb(102,167,197);
}
#description img{
	width:15vh;
	height:auto;
	margin:auto;
}
.form-control{
	background-color:white;
	border-radius:0;
	height:5.2vh;
}
#register-form{
	font-size:3.0vh;
}
.form-control[type="submit"]{
	position:relative;
	top:3vh;
	left:28vh;
	width:50%;
	padding-top:0;
}
.register-link a{
	color:rgb(240,50,51);
}
.register-link a:hover{
	color:rgba(240,50,51,0.8);
}